<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crm_ssm01.dao.DictMapper">
	
	<select id="findDictByCode" parameterType="java.lang.String" resultType="com.crm_ssm01.pojo.Dict">
		select * from base_dict b 
		where b.dict_enable = 1 and  b.dict_type_code = #{dict_type_code} order by b.dict_sort
	</select>
</mapper>